@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

/* .setquiz {
    background-image: url(/src/assets/undraw_questions_re_1fy7.svg);
    background-repeat: no-repeat;
    background-position: center;
} */